{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
             style="background-image: url({% static 'images/heading-pages-06.jpg' %});">
        <h2 class="l-text2 t-center">
            Contact
        </h2>
    </section>

    <!-- content page -->
    <section class="bgwhite p-t-66 p-b-60">
        <div class="container">
            <div class="row">

                <div class="col-md-12 p-b-30">
                    <form method="POST" class="leave-comment">
                    {% csrf_token %}
                        <h4 class="m-text26 p-b-36 p-t-15">
                            Send us your message
                        </h4>
                        {% for field in forms %}
                            <div class="bo4 of-hidden size15 m-b-20">
                             {% render_field field placeholder=field.label  class="sizefull s-text7 p-l-22 p-r-22" %}
{#                                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name"#}
{#                                       placeholder="Full Name">#}
                            </div>

                        {% endfor %}



                        <div class="w-size25">
                            <!-- Button -->
                            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}