{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
             style="background-image: url({% static 'images/blog-head.jpeg' %});">
        <h2 class="l-text2 t-center">
            Blog
        </h2>
    </section>

    <!-- content page -->
    <section class="bgwhite p-t-60">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9 p-b-75">
                    <div class="p-r-50 p-r-0-lg">
                        {% for post in events %}
                            <div class="item-blog p-b-80">
                                <a href="{% url 'goodsApp:get_blog_detail' post.id %}"
                                   class="item-blog-img pos-relative dis-block hov-img-zoom">
                                    <img src="{{ post.image.url }}"  alt="IMG-BLOG">
                                    <span class="item-blog-date dis-block flex-c-m pos1 size17 bg4 s-text1">
									{{ post.created_at }}
								</span>
                                </a>

                                <div class="item-blog-txt p-t-33">
                                    <h4 class="p-b-11">
                                        <a href="{% url 'goodsApp:get_blog_detail' post.id %}" class="m-text24">
                                            {{ post.title }}
                                        </a>
                                    </h4>

                                    <div class="s-text8 flex-w flex-m p-b-21">
									<span>
										{{ post.author }}
										<span class="m-l-3 m-r-6">|</span>
									</span>

                                        <span>
										Cooking, Food
										<span class="m-l-3 m-r-6">|</span>
									</span>

                                    </div>

                                    <p class="p-b-12">
                                        {{ post.description }}
                                    </p>

                                    <a href="{% url 'goodsApp:get_event_detail' post.id %}" class="s-text20">
                                        Continue Reading
                                        <i class="fa fa-long-arrow-right m-l-8" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Pagination -->
                {% if posts %}
                    <div class="pagination flex-m flex-w p-r-50">
                        {% if posts.has_previous %}
                            <a href="?page=1" class="item-pagination flex-c-m trans-0-4"><<</a>
                            <a href="?page={{ posts.previous_page_number }}"
                               class="item-pagination flex-c-m trans-0-4">{{ posts.previous_page_number }}</a>
                        {% endif %}

                        <span class="current">
							<a href="?page={{ posts.number }}"
                               class="item-pagination flex-c-m trans-0-4 active-pagination">{{ posts.number }}</a>
						</span>

                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}"
                               class="item-pagination flex-c-m trans-0-4">{{ posts.next_page_number }}</a>
                            <a href="?page={{ posts.paginator.num_pages }}" class="item-pagination flex-c-m trans-0-4">>></a>
                        {% endif %}
                    </div>
               {% endif %}
                </div>

                <div class="col-md-4 col-lg-3 p-b-75">
                    <div class="rightbar">
                        <!-- Search -->
                        <form method="GET">
{#                            {% csrf_token %}#}
                            <div class="pos-relative bo11 of-hidden">
                                <input class="s-text7 size16 p-l-23 p-r-50" type="text" name="search"
                                       placeholder="Search">

                                <button type="submit" class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4">
                                    <i class="fs-13 fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                        <!-- Categories -->
                        <h4 class="m-text23 p-t-56 p-b-34">
                            Categories
                        </h4>

                        <ul>
                            <li class="p-t-6 p-b-8 bo6">
                                <a href="{% url 'goodsApp:create_event' %}" class="s-text13 p-t-5 p-b-5">
                                    All
                                </a>
                            </li>
                            {% for field in categories %}
                                <li class="p-t-6 p-b-8 bo7">
                                    <a href="{% url 'goodsApp:get_category_event' field.slug %}"
                                       class="s-text13 p-t-5 p-b-5">
                                        {{ field.name }}
                                    </a>
                                </li>

                            {% endfor %}

                        </ul>
                        <!-- Featured Products -->
                        <!-- Archive -->
                        <h4 class="m-text23 p-t-50 p-b-16">
                            Archive
                        </h4>

                        <ul>
                            <li class="flex-sb-m">
                                <a href="{% url 'goodsApp:get_event_archieve' 'January' %}" class="s-text13 p-t-5 p-b-5">
                                    January 2020
                                </a>

                                <span class="s-text13">
									({{ first_count }})
								</span>
                            </li>

                            <li class="flex-sb-m">
                                <a href="{% url 'goodsApp:get_event_archieve' 'December' %}" class="s-text13 p-t-5 p-b-5">
                                    December 2019
                                </a>

                                <span class="s-text13">
									({{ second_count }})
								</span>
                            </li>

                            <li class="flex-sb-m">
                                <a href="{% url 'goodsApp:get_event_archieve' 'November' %}" class="s-text13 p-t-5 p-b-5">
                                    November 2019
                                </a>

                                <span class="s-text13">
									({{ third_count }})
								</span>
                            </li>

                            {% comment %} <li class="flex-sb-m">
								<a href="#" class="s-text13 p-t-5 p-b-5">
									April  2018
								</a>

								<span class="s-text13">
									(35)
								</span>
							</li>

							<li class="flex-sb-m">
								<a href="#" class="s-text13 p-t-5 p-b-5">
									March 2018
								</a>

								<span class="s-text13">
									(22)
								</span>
							</li>

							<li class="flex-sb-m">
								<a href="#" class="s-text13 p-t-5 p-b-5">
									February 2018
								</a>

								<span class="s-text13">
									(32)
								</span>
							</li>

							<li class="flex-sb-m">
								<a href="#" class="s-text13 p-t-5 p-b-5">
									January 2018
								</a>

								<span class="s-text13">
									(21)
								</span>
							</li>

							<li class="flex-sb-m">
								<a href="#" class="s-text13 p-t-5 p-b-5">
									December 2017
								</a>

								<span class="s-text13">
									(26)
								</span>
							</li> {% endcomment %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}